<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
  <div class="grid">
    <div class="col-12 lg:col-2">
      <div class="text-900 font-medium text-xl mb-3">Informations personnels</div>
      <p class="m-0 p-0 text-600 line-height-3 mr-3">Modifier vos mot de passe</p>
    </div>
    <div class="col-12 lg:col-10">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="grid formgrid p-fluid">
            <div class="field col-12 md:col-6">
              <label>Ancien mot de passe</label>
              <p-password type="password"
                          size="small"
                          formControlName="oldPwd"
              ></p-password>
            </div>
            <div class="field col-12 md:col-6"></div>
            <div class="field col-12 md:col-6">
              <label>Nouveau mot de passe</label>
              <p-password type="password"
                          size="small"
                          formControlName="newPwd"
              ></p-password>
            </div>
            <div class="field mb-4 col-12">
            </div>
            <div class="field col-12 md:col-6">
              <label>Mot de passe</label>
              <p-password type="password"
                          size="small"
                          formControlName="confirmPwd"
              ></p-password>
            </div>
            <div class="col-12 flex align-content-center justify-content-center">
              <button pButton="" pRipple="" label="Modifiez" type="submit"
                      class="p-element p-ripple w-auto mt-3 mr-3  p-button p-component bg-black-alpha-90"></button>
              <button pButton="" pRipple="" label="Annuler" type="button"
                      class="p-element p-ripple w-auto mt-3  p-button p-component  bg-gray-600" routerLink=""></button>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>

