<ng-container class="align-content-center" *ngIf="product$ | async as product">
  <div class="grid col-12 mt-6">
    <div class="col-6">
      <p-carousel [value]="product.pictures" [numVisible]="1"
                  [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptions" >
        <ng-template let-picture pTemplate="item">
          <img src="{{picture.url}}" style="width: 500px;max-height:500px">
        </ng-template>
      </p-carousel>
    </div>
    <div class="col-6">
      <div class="grid flex align-content-end">
        <div class="col-12">
        <h3>{{product.name}}</h3>
        </div>
        <div class="col-12">
          <p-rating [(ngModel)]="note" [cancel]="false" [readonly]="true" iconOnClass="pi pi-star-fill text-yellow-400"></p-rating>
        </div>
        <div class="col-12">
          <p appAvailable [stock]="product.stock" >{{product.stock | available}}</p>
        </div>
        <div class="col-12">
          <h1>{{product.price | currency: 'EUR'}}</h1>
        </div>
        <div class="col-12">
          <button pButton pRipple icon="pi pi-shopping-cart" label="Ajouter au panier" class="bg-black-alpha-90 p-element p-ripple w-full mb-5 p-button p-component" (click)="add(product)" *ngIf="product.stock>0"></button>
          <button pButton pRipple icon="pi pi-shopping-cart" label="Ajouter au panier" class="bg-black-alpha-90 p-element p-ripple w-full mb-5 p-button p-component p-disabled" (click)="add(product)" *ngIf="product.stock==0"></button>
        </div>
        <div class="col-12">
          <p><i class="pi pi-check-circle text-green-500"></i>  Vous bénéficiez de <span>2 ans</span> de garantie.</p>
          <p><i class="pi pi-check-circle text-green-500"></i>  Echange <span>gratuit</span> dans les 30 jours.</p>
        </div>


      </div>
    </div>


  </div>
  <div class="col-12 lg:col-6">

    </div>
  <div class="grid nested-grid">
    <div class="col-12">
      <p-tabView [(activeIndex)]="activeIndex">
        <p-tabPanel header="Description" headerStyleClass="text-900">
          <p class="col-8">
           {{product.description}}
          </p>
        </p-tabPanel>
        <p-tabPanel header="Livraison">
          <p class="col-8">
            Imaginez un monde où vos sélections préférées sont soigneusement emballées et livrées directement à votre porte, sans tracas ni attente. C'est exactement ce que nous offrons avec notre service de livraison rapide et fiable.

            Pourquoi choisir UNKNOWN pour vos achats en ligne? Parce que nous comprenons que votre temps est précieux. Notre équipe dévouée s'engage à garantir que vos articles préférés arrivent chez vous rapidement, en parfait état, prêts à être appréciés.
          </p>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</ng-container>
