<p-menubar class="test" [model]="links">
  <ng-template pTemplate="start" >
    <h3>GadgetGalaxy</h3>
  </ng-template>
      <input type="text" pInputText placeholder="Search" class="w-full" />
  <ng-template pTemplate="end">
    <p-button *ngIf="isConnected;else connect" class="p-menuitem" (click)="disconnect()" >Se déconnecter</p-button>
    <ng-template #connect>
      <p-button routerLink="/login">Se connecter</p-button>
    </ng-template>
    <p-button *ngIf="role=='CUSTOMER'" class="p-menuitem" routerLink="/shopping/cart"><i class="pi pi-shopping-cart"></i></p-button>
  </ng-template>
</p-menubar>
<!--<div class="ng-star-inserted">-->
<!--  <div class="flex flex-column surface-ground ">-->
<!--    <div class="bg-indigo-800 py-3 px-5 flex align-items-center justify-content-between relative lg:static" style="min-height: 80px;">-->
<!--      <img src="https://blocks.primeng.org/assets/images/blocks/logos/bastion-700.svg" height="40" class="mr-0 lg:mr-6">-->
<!--      <a></a>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->



