<ng-container *ngIf="!isConnected">
<div class="bg-gray-900 px-3 sm:px-6 py-3 flex align-items-stretch justify-content-center sm:justify-content-end border-bottom-1 surface-border text-sm">
  <a class="text-white font-medium inline-flex align-item s-center cursor-pointer px-3 hover:text-gray-200"
      routerLink="/login">
    <i class="pi pi-sign-in mr-2 sm:mr-3 text-sm"></i>
    <span>Se connecter</span>
  </a>
  <div class="text-white mx-1 sm:mx-2">|</div>
  <a class="text-white font-medium inline-flex align-items-center cursor-pointer px-3 hover:text-gray-200" routerLink="/customer/add">
    <i class="pi pi-user mr-2 sm:mr-3 text-sm"></i>
    <span>Créez un compte</span>
  </a>
</div>
</ng-container>
<div class="surface-overlay px-3 sm:px-6 flex align-items-stretch relative border-nav" style="min-height: 80px">
  <a class="cursor-pointer flex align-items-center lg:hidden text-700 mr-3 sm:mr-5" data-pb-styleclass="{selector:'#nav-1', enterClass:'hidden',leaveToClass:'hidden',hideOnOutsideClick:true}">
    <i class="pi pi-bars text-4xl"></i>
  </a>
  <div class="flex align-items-center justify-content-center">
    <a class="flex align-items-center justify-content-center" routerLink="">
      <img src="./assets/img/logo.png" class="lg:mr-2 h-2rem sm:h-3rem" alt="Image" ismap="false">
      <h2 class="mr-5">UNKNOWN</h2>
    </a>
  </div>
  <div class="surface-overlay hidden lg:flex absolute lg:static left-0 top-100 z-1 shadow-2 lg:shadow-none w-full lg:w-auto py-3 lg:py-0" >
    <ul class="list-none p-0 m-0 flex flex-column lg:flex-row">
      <li *ngIf="role=='CUSTOMER' || role!='ADMIN'">
        <div class="py-3 lg:py-3 px-6 lg:px-4 text-700 select-none text-xl lg:text-base font-medium lg:font-base w-full lg:w-auto">
          <button class="bg-white text-600 select-none" #btn type="button" pButton icon="pi pi-bars" label="Catégories" (click)="menu.toggle($event)"></button>
          <p-tieredMenu #menu [model]="items" [popup]="true"></p-tieredMenu>
        </div>
      </li>
      <li class="py-3 lg:py-3 text-700 select-none text-xl lg:text-base font-medium lg:font-base " *ngIf="role=='ADMIN'">

          <button class="bg-white text-600 select-none" #btn type="button" pButton icon="pi pi-angle-down" label="Gérer" (click)="menu.toggle($event)"></button>
          <p-tieredMenu #menu [model]="adminItems" [popup]="true"></p-tieredMenu>

      </li>
      <li *ngIf="role=='ADMIN'">
        <div class="py-3 lg:py-3 px-6 lg:px-2 text-700 select-none   ">
          <button class="bg-white text-600 select-none" #btn type="button" pButton icon="pi pi-angle-down" label="Commande" (click)="menu.toggle($event)"></button>
          <p-tieredMenu #menu [model]="orderItem" [popup]="true"></p-tieredMenu>
        </div>

      </li>
      <li *ngIf="role=='ADMIN'">
        <div class="py-3 lg:py-3 px-6 lg:px-2 text-700 select-none   ">
          <button class="bg-white text-600 select-none" #btn type="button" pButton icon="pi pi-angle-down" label="Statistique" (click)="menu.toggle($event)"></button>
          <p-tieredMenu #menu [model]="stat" [popup]="true"></p-tieredMenu>
        </div>

      </li>

    </ul>
  </div>
  <div class="flex ml-auto " >
    <ul class="list-none p-0 m-0 flex">
      <li class="flex" *ngIf="false">
        <a class="text-900 font-medium inline-flex align-items-center cursor-pointer px-2 sm:px-3 hover:text-primary">
          <i class="pi pi-search mr-2 lg:mr-3 text-2xl sm:text-base"></i>
          <span class="hidden lg:inline">Search</span>
        </a>
      </li>

      <li class="flex flex-auto lg:flex-initial justify-content-center" *ngIf="isConnected">
        <a class="text-900 font-medium inline-flex align-items-center cursor-pointer px-3 text-700 hover:text-primary" (click)="toggle()">
          <i class="pi pi-user text-2xl"></i>
        </a>
        <p-overlay [(visible)]="overlayVisible" [responsive]="{ breakpoint: '640px', direction: 'bottom', contentStyleClass: 'h-20rem' }" contentStyleClass="p-4 surface-overlay shadow-2 border-round" >
          <ng-template pTemplate="content"  let-option>
                <ul class="list-none py-0 pr-0 lg:pl-0 pl-5 m-0 text-700 hidden lg:block">
                  <li class="font-bold mb-5 text-xl text-900 hidden lg:block">Mon Compte</li>
                  <li class="mb-3 cursor-pointer">
                    <a class="linkNoStyle text-700 hover:text-900" routerLink="/customer/update/1">Modifier infos personnels</a>
                  </li>
                  <li class="mb-3 cursor-pointer">
                    <a class="linkNoStyle text-700 hover:text-900" routerLink="/customer/pwd/1">Modifier mot de passe</a>
                  </li>
                  <li class="mb-3 cursor-pointer" *ngIf="role=='CUSTOMER'">
                    <a class="linkNoStyle text-700 hover:text-900" routerLink="/customer/order">Mes commandes</a>
                  </li>
                  <li class="mb-3 cursor-pointer">
                    <a class="linkNoStyle text-700 hover:text-900" (click)="disconnect()">Déconnexion</a>
                  </li>
                </ul>
          </ng-template>
        </p-overlay>

      </li>
      <li class="flex" *ngIf="role!='ADMIN'">
        <a class="linkNoStyle text-900 font-medium inline-flex align-items-center cursor-pointer px-3 -py-1 hover:text-primary" routerLink="/shopping/cart">
          <i class="pi pi-shopping-cart text-2xl" *ngIf="cartSize<=0"></i>
          <i class="pi pi-shopping-cart text-2xl" pBadge value="{{cartSize}}" severity="info" *ngIf="cartSize>0"></i>
        </a>
      </li>
    </ul>
  </div>
</div>



