<p-menubar class="test" [model]="links">
  <ng-template pTemplate="start" >
    <h3>GadgetGalaxy</h3>
  </ng-template>
      <input type="text" pInputText placeholder="Search" class="w-full" />
  <ng-template pTemplate="end">
    <p-button *ngIf="isConnected;else connect" class="p-menuitem" (click)="disconnect()" >Se déconnecter</p-button>
    <ng-template #connect>
      <p-button routerLink="/login">Se connecter</p-button>
    </ng-template>
    <p-button *ngIf="role=='CUSTOMER'" class="p-menuitem" routerLink="/shopping/cart"><i class="pi pi-shopping-cart"></i></p-button>
  </ng-template>
</p-menubar>

