<h3 class="pl-3">Marques</h3>
<div class="flex justify-content-between pl-3">
  <div class="justify-content-start">
    <p>Créez et gérer vos marques des produits </p>
  </div>
  <div class="justify-content-end pb-3 ml-1 lg:ml-2">
    <p-toast></p-toast>
    <button pButton
            type="button"
            label="Ajouter marque"
            icon="pi pi-plus"
            class="p-button-success "
            size="small"
            (click)="showAdd()">
      <!--            routerLink="/manager/brand/add/"-->

    </button>
  </div>
</div>


<ng-container *ngIf="brands$ | async as brands;else loading">
  <p-table [value]="brands" #dt1 [globalFilterFields]="['name']">
    <ng-template pTemplate="caption">
      <div class="flex align-content-end">
        <button pButton label="Reset" class="p-button-outlined text-black-alpha-90" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
        <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" [(ngModel)]="search" (input)="dt1.filterGlobal(search, 'contains')" placeholder="Cherchez marque" />
                </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header" class="grid">
      <tr class="col-12">
        <th class="col-1" >#</th>
        <th class="col-5">Name</th>
        <th class="col-4">Image</th>
        <th class="col-2">Modifier</th>
        <th class="col-2">Supprimer</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-brand>
      <tr>
        <td></td>
        <td>{{brand.name}}</td>
        <td><p-image src="{{brand.img}}" alt="Image" width="70" [preview]="true"></p-image></td>
        <td>
          <button pButton type="button" icon="pi pi-pencil"
                  (click)="showUpdate(brand)"></button>
        </td>
        <td>
          <p-toast></p-toast>
          <p-confirmDialog #cd [style]="{width: '50vw'}">
            <ng-template pTemplate="header">
              <h3>Confirmation</h3>
            </ng-template>
            <ng-template pTemplate="footer">
              <button type="button" pButton icon="pi pi-times" label="Non" (click)="cd.reject()"></button>
              <button type="button" pButton icon="pi pi-check" label="Oui" (click)="cd.accept()"></button>
            </ng-template>
          </p-confirmDialog>
          <button pButton type="button" icon="pi pi-times" class="p-button-danger" (click)="delete(brand)">
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>
<ng-template #loading>
  <div class="grid justify-content-center">
    <label>En chargement</label>
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-template>
