<div class="flex surface-section">
  <div class="w-12 sm:w-6 px-4 py-8 md:px-6 lg:px-8">
    <div class="border-left-2 border-purple-700"><span
      class="bg-white text-purple-700 font-bold text-2xl inline-block px-3">404</span></div>
    <div class="mt-6 mb-5 font-bold text-6xl text-900">Page Non Trouvé</div>
    <p class="text-700 text-3xl mt-0 mb-6">Désolé, nous ne pouvons pas retrouver la page.</p>
    <div>
      <button routerLink="" type="button" pButton="" pRipple="" label="Page d'acceuil" icon="pi pi-home"
              class="p-element p-ripple p-button p-component bg-black-alpha-90"></button>
    </div>
  </div>
  <div class="w-6 hidden sm:block"
       style="background: url('https://img.freepik.com/free-vector/astronaut-space-scene_1308-51573.jpg?w=1060&t=st=1702156764~exp=1702157364~hmac=db75d7ac9a879a9c0f676ad0f010e541e2f650184cc1934849afb91e6ce9986c') no-repeat; background-size: cover;"></div>
</div>
