<ng-container class="">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="grid pl-3">
      <div class="col-12">
        <div class="field">
          <label >Nom</label>
          <input type="text"
                 class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                 pTooltip="Entrez le nom" [showDelay]="500" tooltipEvent="focus"
                 formControlName="name"
          >
        </div>
        <div class="field" *ngIf="brand$ | async as brands; else loading">
          <label >Marque</label>
          <div><p-dropdown [options]="brands" formControlName="brandId" optionValue="id"
                           placeholder="Choissisez une marque" [editable]="true" optionLabel="name"></p-dropdown>

          </div>
        </div>
        <div class="field" *ngIf="categories$ | async as categories; else loading">
          <label>Catégorie</label>
          <div>
            <p-dropdown [options]="categories" formControlName="categoryId" optionValue="id"
                           placeholder="Choissisez une catégorie" [editable]="true" optionLabel="name">

            </p-dropdown>
          </div>
        </div>
        <div class="field">
          <label >Description</label>
          <textarea
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            rows="9" cols="100" pInputTextarea pTooltip="Ajoutez une description" [showDelay]="500" tooltipEvent="focus" formControlName="description">

          </textarea>
        </div>
        <div class="grid flex-column px-2 mb-3">
          <label >Quantité</label>
          <p-inputNumber formControlName="stock" inputId="integeronly" > </p-inputNumber>

        </div>
        <div class="grid flex-column px-2 mb-3 ">
          <label >Prix</label>
          <p-inputNumber formControlName="price" mode="currency" inputId="currency-germany" currency="EUR" > </p-inputNumber>

        </div>
        <div class="field">
          <label >Image</label>
          <input type="text"
                 class="mb-2 text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                 pTooltip="Entrez une adresse url" [showDelay]="500" tooltipEvent="focus"
                 formControlName="url1"
          >
          <input type="text"
                 class="mb-2 text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                 formControlName="url2"
          >
          <input type="text"
                 class="mb-2 text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                 formControlName="url3"
          >
          <input type="text"
                 class="mb-2 text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                 formControlName="url4"
          >
        </div>
        <p-messages [(value)]="messages" [enableService]="false" [closable]="true" *ngIf="messages"></p-messages>
        <div class="grid flex justify-content-end">
          <button pButton type="submit" class="lg:m-2">Ajouter</button>
        </div>
      </div>
    </div>
  </form>
</ng-container>

<ng-template #loading>
  <div class="grid justify-content-center">
    <label>En chargement</label>
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-template>
