<ng-container *ngIf="order$ | async as orders">
  <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="font-bold text-4xl my-2">
      Détail de la commande
    </div>
    <div class="flex flex-column sm:flex-row sm:align-items-center sm:justify-content-between py-5">
      <div class="mb-3 sm:mb-0">
        <span class="font-medium text-xl text-900 mr-2">Numéro de commande:</span>
        <span class="font-medium text-xl text-900">{{orders.id}}</span>
      </div>
      <div>
        <button pButton="" pRipple="" label="Print" icon="pi pi-print"
                class="p-element p-ripple p-button-outlined p-button-secondary p-button p-component"></button>
      </div>
    </div>
    <div class="border-round surface-border border-1">
      <ul class="list-none p-0 m-0" *ngFor="let item of orders.products">
        <li class="p-3 border-bottom-1 surface-border flex align-items-start sm:align-items-center">
          <img src="{{item.product.pictures[0].url}}" width="300" >
          <div class="flex flex-column">
            <span class="text-900 font-medium text-xl mb-2">{{item.product.name}}</span>
            <span class="text-600 mb-3"><a routerLink="/customer/review/{{item.product.id}}" >Donnez votre avis</a></span>
            <span class="text-900 font-medium">Quantité : {{item.quantity}}</span></div>
          <span class="text-900 font-medium text-lg ml-auto">{{item.product.price | currency:'EUR'}}</span>
        </li>
      </ul>
    </div>
    <div class="flex flex-wrap mt-5 pb-3">
      <div class="w-full lg:w-6 pl-3"><span class="font-medium text-900">Adresse de Livraison</span>
        <div class="flex flex-column text-900 mt-3 mb-5"><span class="mb-1">{{orders.customer?.lastname}} {{orders.customer?.firstname}}</span><span class="mb-1">{{orders.address?.address}}</span>
          <span>{{orders.address?.contact}}</span>
        </div>
      </div>
      <div class="w-full lg:w-6 pl-3 lg:pl-0 lg:pr-3 flex align-items-end mt-5 lg:mt-0">
        <ul class="list-none p-0 m-0 w-full">
          <li class="mb-3"><span class="font-medium text-900">Résumé</span></li>
          <li class="flex justify-content-between mb-3"><span class="text-900">Sous-Total</span><span
            class="text-900 font-medium text-lg">{{orders.amount-TVA| currency:'EUR'}}</span></li>
          <li class="flex justify-content-between mb-3"><span class="text-900">Livraison</span><span
            class="text-900 font-medium text-lg">Gratuite</span></li>
          <li class="flex justify-content-between mb-3"><span class="text-900">Tva(21%)</span><span
            class="text-900 font-medium text-lg">{{TVA |currency:'EUR' }}</span></li>
          <li class="flex justify-content-between border-top-1 surface-border py-3"><span class="text-900 font-medium">Total</span><span
            class="text-900 font-bold text-lg">{{orders.amount| currency:'EUR'}}</span></li>
        </ul>
      </div>
    </div>
  </div>
</ng-container>
