<ng-container>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
  <p-card class="flex justify-content-center" header="Welcome" subheader="Sign in to continue"
          [style]="{ width: '360px' }">

      <ng-template pTemplate="header">
        <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png"/>
      </ng-template>

      <div class="flex justify-content-center flex-column gap-2">
        <label>Username</label>
        <input pInputText type="text"  formControlName="username"/>
      </div>
      <div class="flex justify-content-center flex-column gap-2">
        <label>Password</label>
        <p-password formControlName="password" [feedback]="false"></p-password>
      </div>
      <ng-template pTemplate="footer">
        <button pButton type="submit" class="ml-6">Connexion</button>
        <button pButton type="button" class="p-button-secondary" routerLink="">Annuler
        </button>
      </ng-template>

  </p-card>
  </form>
</ng-container>
