<ng-container *ngIf="$category | async as category">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="grid">
      <div class="col-12">

        <div class="field">
          <label >Nom</label>
          <input type="text"
                 class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                 formControlName="name"
          >
        </div>
        <div class="field">
          <label >Description</label>
          <textarea
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            rows="5" cols="80" pInputTextarea pTooltip="Ajoutez une description" [showDelay]="500" tooltipEvent="focus" formControlName="description">

          </textarea>
        </div>
        <p-messages [(value)]="messages" [enableService]="false" [closable]="true" *ngIf="messages"></p-messages>
        <div class="flex justify-content-end">
          <button pButton type="submit" class="ml-6">Modifier</button>
        </div>
      </div>
    </div>
  </form>
</ng-container>
