<div class="grid grid-nogutter text-center lg:text-left ml-2">
  <div class="col-12 sm:col-6 md:col-4 lg:col-3 mt-4 flex flex-column align-items-center lg:align-items-start"><img src="./assets/img/logo.png" class="w-6rem mx-auto lg:mx-0" alt="unknown logo">
    <div class="flex align-items-center w-full mt-5 justify-content-center lg:justify-content-start">
      <a tabindex="0" class="cursor-pointer mr-3">
        <i class="pi pi-facebook surface-900 p-1 text-sm border-circle text-0"></i>
      </a>
      <a tabindex="0" class="cursor-pointer mr-3">
        <i class="pi pi-twitter surface-900 p-1 text-sm border-circle text-0"></i>
      </a>
      <a tabindex="0" class="cursor-pointer mr-3">
        <i class="pi pi-youtube surface-900 p-1 text-sm border-circle text-0"></i>
      </a>
      <a tabindex="0" class="cursor-pointer">
        <i class="pi pi-google surface-900 p-1 text-sm border-circle text-0"></i>
      </a>
    </div>
    <span class="text-600 block mt-4"><i class="pi pi-phone mr-2"></i>1234 / 12 34 567</span>
    <a tabindex="0" class="text-600 block mt-4 cursor-pointer hover:text-900 transition-duration-150 select-none w-8rem"><i class="pi pi-map-marker mr-2"></i>Contact Us</a>
  </div>
  <div class="col-12 sm:col-6 md:col-4 lg:col-3 mt-4 flex flex-column">
    <span class="text-900 text-xl font-medium block">Company</span>
    <ul class="list-none p-0">
      <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">About
        Peak</a></li>
      <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Factories</a>
      </li>
      <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Careers</a>
      </li>
      <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Environmental
        Initiatives</a></li>
    </ul>
  </div>
  <div class="col-12 sm:col-6 md:col-4 lg:col-3 mt-4 flex flex-column">
    <span class="text-900 text-xl font-medium block">Account</span>
    <ul class="list-none p-0">
      <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">ManageAccount</a>
      </li>
      <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Saved
        Items</a></li>
      <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">My
        Cart</a></li>
      <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Wishlist</a>
      </li>
      <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Orders
        &amp; Returns</a></li>
    </ul>
  </div>
  <div class="col-12 sm:col-6 md:col-4 lg:col-3 mt-4 flex flex-column">
    <span class="text-900 text-xl font-medium block">Legal</span>
    <ul class="list-none p-0">
      <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Investor
        Relations</a></li>
      <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Data
        Privacy</a></li>
      <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Terms
        of Service</a></li>
      <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Legal
        Information</a></li>
    </ul>
  </div>
</div>
