<h3 class="pl-3">Catégories</h3>
<div class="flex justify-content-between pl-3">
  <div class="justify-content-start">
    <p>Ajouter une nouvelle catégorie</p>
  </div>
</div>
<ng-container class="">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="grid pl-3">
      <div class="col-6">

        <div class="field">
          <label >Nom</label>
          <input type="text"
                 class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                 formControlName="name"
          >
        </div>
        <div class="field">
          <label >Description</label>
          <input type="text"
                 class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                 formControlName="description"
          >
        </div>
        <div class="flex justify-content-end">
          <button pButton type="submit" class="ml-6">Valider</button>
          <button pButton type="button" class="p-button-secondary" routerLink="/manager/category/list">Annuler
          </button>
        </div>
      </div>
    </div>
  </form>
</ng-container>
