<div class="surface-50 px-4 py-8 md:px-6 lg:px-8">
  <div class="text-900 font-medium text-3xl mb-5 ">Votre commande est presque prête</div>
  <div class="grid -mr-3 -ml-3 ">
    <div class="col-12 lg:col-9 p-3 ">
      <div class="px-0 py-4 lg:px-4 surface-card border-round shadow-2 ">
        <div class="flex ">
          <div class="flex flex-column align-items-center ml-3 " style="width: 2rem;"><span
            class="bg-purple-700 text-0 flex align-items-center justify-content-center border-circle "
            style="min-width: 3rem; min-height: 3rem;"><i class="pi pi-map-marker text-xl "></i></span>
            <div class="h-full border-dashed border-1 border-purple-700 " style="min-height: 12rem;"></div>
          </div>
          <div class="ml-0 lg:ml-5 p-2 flex-auto ">
            <div class="mb-3 "><span class="text-900 text-xl block ml-2 ">Adresse</span></div>
            <ng-container *ngIf="user | async as customer">
            <div class="grid flex-column lg:flex-row" >
              <div class="col p-3 " *ngFor="let address of customer.deliveryAddresses">
                <a (click)="changeAddress(address.name)">
                <div
                  class="flex flex-column border-round border-1 surface-border p-4 cursor-pointer hover:border-primary transition-duration-150  border-primary">
                  <div class="flex justify-content-between mb-3 "><span
                    class="text-900 text-xl font-medium ">{{address.name}}</span><span
                    class="text-600 font-medium "><a (click)="showUpdate(address)"><i class="pi pi-pencil mr-2 "></i></a></span>
                  </div>
                  <span class="inline-block text-600 mb-3 ">{{address.address}}</span>
                  <div class="flex justify-content-between">
                  <span
                  class="inline-block text-600 "><i
                  class="pi pi-mobile mr-2 "></i>{{address.contact}}</span>

                    <i class="pi pi-check text-green-500"  *ngIf="selectedAddress==address.name"></i>
                  </div>
                </div>
                </a>
              </div>

              <div class="col p-3 " style="min-height: 10rem; min-width: 10rem;" *ngIf="customer.deliveryAddresses!=undefined && customer.deliveryAddresses.length<3">
                <p-toast></p-toast>
                <a (click)="showAdd()">
                <div
                  class="flex h-full flex-column justify-content-center align-items-center py-5 lg:py-0 border-round border-1 surface-border surface-100 cursor-pointer hover:border-primary transition-duration-150 ">
                  <span
                    class="text-600 border-circle border-2 w-2rem h-2rem flex align-items-center justify-content-center "><i
                    class="pi pi-fw pi-plus "></i></span><span class="text-600 mt-3 ">Ajouter une adresse</span>
                </div>
                </a>
              </div>

            </div>
            </ng-container>
          </div>
        </div>
        <div class="flex ">
          <div class="flex flex-column align-items-center ml-3 " style="width: 2rem;"><span
            class="bg-purple-700 text-0 flex align-items-center justify-content-center border-circle "
            style="min-width: 3rem; min-height: 3rem;"><i class="pi pi-shopping-cart text-xl "></i></span>
            <div class="h-full border-dashed border-1 surface-border " style="min-height: 12rem;"></div>
          </div>
          <div class="ml-0 lg:ml-5 p-2 flex-auto ">
            <div class="mb-3 "><span class="text-900 text-xl block ml-2 ">Panier</span></div>
            <ng-container *ngIf="cart.length>0">
            <div class="p-2 flex flex-column lg:flex-row flex-wrap lg:align-items-center " *ngFor="let product of cart"><img
              src="{{product.pictures[0].url}}" alt="product"
              style="width:30%">
              <div class="flex-auto lg:ml-3 ">
                <div class="flex align-items-center justify-content-between mb-3 "><span
                  class="text-900 font-medium ">{{product.name}}</span><span
                  class="text-900 font-medium ">{{product.price | currency:'EUR'}}</span></div>
                <div class="text-600 text-sm mb-3 "></div>
                <div class="flex flex-auto justify-content-between align-items-center ">
                  <span></span>
                  <span class="text-600 cursor-pointer "><i class="pi pi-trash mr-2 "></i>Delete</span>
                </div>
              </div>
            </div>
            </ng-container>
          </div>
        </div>
        <div class="flex ">
          <div class="flex flex-column align-items-center ml-3 " style="width: 2rem;"><span
            class="bg-gray-200 text-500 flex align-items-center justify-content-center border-circle "
            style="min-width: 3rem; min-height: 3rem;"><i class="pi pi-credit-card text-xl "></i></span>
          </div>
          <div class="ml-0 lg:ml-5 p-2 flex-auto ">
            <div class="mb-3 "><span class="text-900 text-xl block ml-2 ">Méthode de paiement</span>
            </div>
            <div class="grid flex-column lg:flex-row">
              <div class="col p-3">
                <div
                  class="flex flex-column border-round border-1 surface-border p-4 cursor-pointer hover:border-primary transition-duration-150">
                  <img src="https://www.safeshops.be/app/uploads/2021/06/Bancontact-Original-logo-RGB.png" alt="Bancontact"
                       class="w-6rem" style="width: 200px;height: 70px" ><span
                  class="inline-block text-900 text-lg lg:text-xl mt-3 ">**** **** **** 1234</span>
                  <div class="flex justify-content-between align-items-center mt-3 "><span
                    class="inline-block text-600 text-sm ">Nom du propriétaire</span><span
                    class="inline-block text-600 text-sm text-right ">Date expiration</span></div>
                  <div class="flex justify-content-between align-items-center mt-3 "><span
                    class="inline-block text-900 font-bold ">John Warden</span><span
                    class="inline-block text-900 font-bold ">12/25</span></div>
                </div>
              </div>
              <div class="col p-3 ">
                <div
                  class="flex flex-column border-round border-1 surface-border p-4 cursor-pointer hover:border-primary transition-duration-150">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Mastercard-logo.svg/1280px-Mastercard-logo.svg.png" alt="MasterCard"
                       class="w-6rem" style="width: 200px;height: 70px"><span
                  class="inline-block text-900 text-lg lg:text-xl mt-3 ">**** **** **** 1234</span>
                  <div class="flex justify-content-between align-items-center mt-3 "><span
                    class="inline-block text-600 text-sm ">Nom du propriétaire</span><span
                    class="inline-block text-600 text-sm text-right ">Date expiration</span></div>
                  <div class="flex justify-content-between align-items-center mt-3 "><span
                    class="inline-block text-900 font-bold ">John Warden</span><span
                    class="inline-block text-900 font-bold ">06/26</span></div>
                </div>
              </div>
              <div class="col p-3 " style="min-height: 10rem; min-width: 10rem;">
                <div
                  class="flex h-full flex-column justify-content-center align-items-center py-5 lg:py-0 border-round border-1 surface-border surface-100 cursor-pointer hover:border-primary transition-duration-150 ">
                  <span
                    class="text-600 border-circle border-2 w-2rem h-2rem flex align-items-center justify-content-center "><i
                    class="pi pi-fw pi-plus "></i></span><span
                  class="text-600 mt-3 text-center ">Add New Credit Card</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 lg:col-3 p-3 ">
      <div class="surface-card p-4 border-round shadow-2 ">
        <div class="border-bottom-1 surface-border pb-4 "><span class="text-900 text-xl block ">Résumé de la commande</span>
        </div>
        <div class="border-bottom-1 surface-border my-3 py-2 ">
          <div class="flex justify-content-between mb-3 "><span
            class="text-900 ">Prix</span><span class="text-900 ">{{total | currency:'EUR'}}</span></div>
          <div class="flex justify-content-between mb-3 "><span
            class="text-900 ">Livraison</span><span class="text-green-500 ">Gratuite</span></div>
        </div>
        <div class="border-bottom-1 surface-border my-3 py-2 ">
          <div class="flex justify-content-between mb-3 "><span class="text-900 font-medium ">Total</span><span
            class="text-900 font-bold ">{{total | currency:'EUR'}}</span></div>
        </div>
        <button pButton="" pRipple="" label="Payer"
                class="p-element p-ripple bg-black-alpha-90 border-none  w-full mt-3 p-button p-component"
                >
        </button>
      </div>
    </div>
  </div>
</div>
