<h3 class="pl-3">Catégories</h3>
<div class="flex justify-content-between pl-3">
  <div class="justify-content-start">
    <p>Créez et gérer vos catégories de produit </p>
  </div>
  <div class="justify-content-center pb-3">
    <button pButton
            type="button"
            label="Ajouter catégorie"
            icon="pi pi-plus"
            class="p-button-success"
            size="small"
            routerLink="/manager/category/add/"
            >
    </button>
  </div>
</div>


<ng-container *ngIf="categories$ | async as categories;else loading">
  <p-table [value]="categories">
    <ng-template pTemplate="header">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Description</th>
        <th>Modifier</th>
        <th>Supprimer</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-category>
      <tr>
        <td>{{category.id}}</td>
        <td>{{category.name}}</td>
        <td>{{category.description}}</td>
        <td>
          <button pButton type="button" icon="pi pi-pencil"
                  routerLink="/manager/category/update/{{category.id}}"></button>
        </td>
        <td>
          <button pButton type="button" icon="pi pi-times" class="p-button-danger" (click)="delete(category.id)">
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>


<ng-template #loading>
  loading...
</ng-template>
