<ng-container class="">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="grid pl-3">
      <div class="col-12">

        <div class="field">
          <label >Nom</label>
          <input type="text"
                 class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                 pTooltip="Entrez le nom " [showDelay]="500" tooltipEvent="focus"
                 formControlName="name"
          >
        </div>
        <div class="field">
          <label >Url image</label>
          <input type="text"
                 class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                 pTooltip="Entrez l'url de l'image" [showDelay]="500" tooltipEvent="focus"
                 aria-describedby="image-help"
                 formControlName="img" (change)="imageChange()"
          >
          <small id="image-help">Extension autorisé: jpg,jpeg,png</small>
        </div>
        <div class="field" *ngIf="preview">
          <label >Apercu</label>
          <div>
            <p-image class="w-full" src="{{preview}}" alt="Image" width="70" [preview]="true"></p-image>
          </div>

        </div>
        <div class="grid flex justify-content-end">
          <button pButton type="submit" class="lg:m-2">Ajouter</button>
        </div>
      </div>
    </div>
  </form>
</ng-container>
