<ng-container class="">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="grid pl-3">
      <div class="col-12">

        <div class="field">
          <label >Nom</label>
          <input type="text"
                 class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                 formControlName="name"
          >
        </div>
        <div class="field">
          <label >Url image</label>
          <input type="text"
                 class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                 formControlName="img"
          >
        </div>
        <div class="grid flex justify-content-end">
          <button pButton type="submit" class="lg:m-2">Ajouter</button>
        </div>
      </div>
    </div>
  </form>
</ng-container>
