<h3 class="pl-3">Bienvenue</h3>
<div class="flex justify-content-between pl-3">
  <div class="justify-content-start">
    <p>Créez un compte</p>
  </div>
</div>
<ng-container class="">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="col-12 pl-3">
      <div class="p-fluid p-formgrid grid">
        <div class="field col-12 md:col-6">
          <label>Nom</label>
          <input type="text"
                 class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                 formControlName="lastname"
          >
        </div>
        <div class="field col-12 md:col-6">
          <label>Prénom</label>
          <input type="text"
                 class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                 formControlName="firstname"
          >
        </div>
        <div class="field col-6 ">
          <label>Nom d'utilisteur</label>
          <input type="text"
                 class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                 formControlName="username"
          >
        </div>
        <div class="field col-6 md:col-6">
          <label>Mot de passe</label>
          <p-password type="password"
                 size="small"
                 formControlName="password"
          ></p-password>
        </div>
        <div class="field col-12 md:col-6">
          <label>Email</label>
          <input type="text"
                 class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                 formControlName="email"
          >
        </div>
        <div class="field col-12 md:col-6">
          <label>Numéro de téléphone</label>
          <input
                placeholder="0499/999999"
                pattern="[0-9]{4}/[0-9]{6}"
                type="text"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                formControlName="phoneNumber"
          >
        </div>
        <div class="field col-12 ">
          <label>Adresse</label>
          <input type="text"
                 class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                 formControlName="address"
          >
        </div>
        <div class="field col-12 md:col-6">
          <label>Ville</label>
          <input type="text"
                 class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                 formControlName="city"
          >
        </div>
        <div class="field col-12 md:col-6">
          <label>Code postal</label>
          <input type="text"
                 class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                 formControlName="zipCode"
          >
        </div>

        <div class="flex justify-content-end">
          <button pButton type="submit" class="ml-6">Valider</button>
          <button pButton type="button" class="p-button-secondary" routerLink="">Annuler
          </button>
        </div>
      </div>
    </div>
  </form>
</ng-container>
