/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
}

.linkNoStyle{
  text-decoration: none;
  color : gray;
}
.linkNoStyle :visited{
  text-decoration: none;
}
.linkNoStyle :active{
  text-decoration: none;
}
.linkNoStyle :hover{
  color:black;
}

button{
  border:none;
}
